# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# SamWeb especifico
profile/
*.db
scratch_icons.py

# IDEs
.vscode/
.idea/

# Esconder instrucoes tecnicas do GitHub
AGENTS.md
dist/
build/
*.spec
